[defaults]

#use local host file
inventory = ./host_info

#OK for RSA fingerprints
host_key_checking = False

#Do not create retry files on job failure
retry_files_enabled = False

#Do not gather facts
gather = explicit

#define python Interpeter
interpreter_python = /usr/bin/python3
